            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ribbon">
                            <ul class="networks">
                                <li class="network">
                                    <a class="network-link" href="https://github.com/{{ site.author.github }}">
                                        <i class="network-icon icon-github-alt"></i>
                                        GitHub
                                    </a>
                                </li>
                                <li class="network">
                                    <a class="network-link" href="https://twitter.com/{{ site.author.twitter }}">
                                        <i class="network-icon icon-twitter"></i>
                                        Twitter
                                    </a>
                                </li>
                                <li class="network">
                                    <a class="network-link" href="https://plus.google.com/{{ site.author.gplus }}">
                                        <i class="network-icon icon-google-plus"></i>
                                        Google+
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.title }}</p>
                    </div>
                </div>
            </footer>
