@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: local('☺'), font-url('MyriadPro-Regular.woff') format('woff'),
                     font-url('MyriadPro-Regular.ttf') format('truetype'),
                     font-url('MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: font-url('MyriadPro-Semibold.eot');
    src: local('☺'), font-url('MyriadPro-Semibold.woff') format('woff'),
                     font-url('MyriadPro-Semibold.ttf') format('truetype'),
                     font-url('MyriadPro-Semibold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}