                <div class="span4">
                    <aside class="latest">
                        <h4 class="latest-title">Latest blog posts</h4>
                        <ul class="latest-posts">
{% for post in site.posts offset: 0 limit: 6 %}
                            <li class="latest-post">
{% if post.layout == 'link' %}
                                <a class="latest-post-link" href="{{ post.link }}">
{% else %}
                                <a class="latest-post-link" href="{{ post.url }}">
{% endif %}

{% if post.layout == 'post' %}
                                    <i class="latest-post-icon icon-file-text-alt"></i>
{% endif %}

{% if post.layout == 'link' %}
                                    <i class="latest-post-icon icon-link"></i>
{% endif %}

{% if post.layout == 'series' %}
                                    <i class="latest-post-icon icon-list"></i>
{% endif %}
                                    {{ post.title }}

                                    <time class="latest-post-time" datetime="{{ post.date | date:'%Y-%m-%d %H:%M:%S' }}" pubdate>
                                        {{ post.date | date_to_string }}
                                    </time>
                                </a>
                            </li>
{% endfor %}
                        </ul>
                    </aside>
                </div>
